.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #337340;
  padding: 1rem 1.5rem; 
}

.logo-sistema {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: #94D900;

  &:hover {
    text-decoration: underline;
  }
}

.usuario-info {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem; // Espacio entre el icono y el texto

  a {
    color: #337340;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  i.pi {
    font-size: 1.5rem;
  }
}
